In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\bigdata\data\boston.csv")

In [2]:
# boston 데이터의 RM 칼럼에 ZN 칼럼을 대상으로 평균값에서 표준편차의 1.5배보다 크거나 작은 ZN값의 합계를 구하시오.
zn_mean = df['ZN'].mean()
print(zn_mean)

11.363636363636363

In [3]:
zn_std = (df['ZN']
      .std())
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)

print(zn_std)
print(zn_max)
print(zn_min)
print(df['ZN'] > zn_max) #zn_max 보다 큰지 여부의 확인 true or false
print(df[df['ZN'] > zn_max]) #zn_max 보다 큰 값들만 확인하기[[]] << 바깥쪽 하나 더있으므로 데이터 셋을 특정함
                             #datafram[] < 데이터 프레임중 대괄호 안에 들어가는 애들만 특정하겠다.

23.32245299451514
46.347315855409065
-23.62004312813634
0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool
        CRIM     ZN  INDUS  CHAS     NOX     RM   AGE      DIS  RAD  TAX  \
39   0.02763   75.0   2.95     0  0.4280  6.595  21.8   5.4011    3  252
40   0.03359   75.0   2.95     0  0.4280  7.024  15.8   5.4011    3  252
54   0.01360   75.0   4.00     0  0.4100  5.888  47.6   7.3197    3  469
55   0.01311   90.0   1.22     0  0.4030  7.249  21.9   8.6966    5  226
56   0.02055   85.0   0.74     0  0.4100  6.383  35.7   9.1876    2  313
57   0.01432  100.0   1.32     0  0.4110  6.816  40.5   8.3248    5  256
65   0.03584   80.0   3.37     0  0.3980  6.290  17.8   6.6115    4  337
66   0.04379   80.0   3.37     0  0.3980  5.787  31.1   6.6115    4  337
193  0.02187   60.0   2.93     0  0.4010  6.800   9.9   6.2196    1  265
194  0.01439   60.0   2.93     0  0.4010  6.604  18.8   6.2196    1  265
195  0.01381   80.0   0.46     0  0.4220  7.875  32.0   5.6484    4  255
196  0.04011   80.0   1.52     0  0.4040  7.287  34.1   7.3090    2  329
197  0.04666   80.0   1.52     0  0.4040  7.107  36.6   7.3090    2  329
198  0.03768   80.0   1.52     0  0.4040  7.274  38.3   7.3090    2  329
199  0.03150   95.0   1.47     0  0.4030  6.975  15.3   7.6534    3  402
200  0.01778   95.0   1.47     0  0.4030  7.135  13.9   7.6534    3  402
201  0.03445   82.5   2.03     0  0.4150  6.162  38.4   6.2700    2  348
202  0.02177   82.5   2.03     0  0.4150  7.610  15.7   6.2700    2  348
203  0.03510   95.0   2.68     0  0.4161  7.853  33.2   5.1180    4  224
204  0.02009   95.0   2.68     0  0.4161  8.034  31.9   5.1180    4  224
254  0.04819   80.0   3.64     0  0.3920  6.108  32.0   9.2203    1  315
255  0.03548   80.0   3.64     0  0.3920  5.876  19.1   9.2203    1  315
256  0.01538   90.0   3.75     0  0.3940  7.454  34.2   6.3361    3  244
283  0.01501   90.0   1.21     1  0.4010  7.923  24.8   5.8850    1  198
284  0.00906   90.0   2.97     0  0.4000  7.088  20.8   7.3073    1  285
285  0.01096   55.0   2.25     0  0.3890  6.453  31.9   7.3073    1  300
286  0.01965   80.0   1.76     0  0.3850  6.230  31.5   9.0892    1  241
287  0.03871   52.5   5.32     0  0.4050  6.209  31.3   7.3172    6  293
288  0.04590   52.5   5.32     0  0.4050  6.315  45.6   7.3172    6  293
289  0.04297   52.5   5.32     0  0.4050  6.565  22.9   7.3172    6  293
290  0.03502   80.0   4.95     0  0.4110  6.861  27.9   5.1167    4  245
291  0.07886   80.0   4.95     0  0.4110  7.148  27.7   5.1167    4  245
292  0.03615   80.0   4.95     0  0.4110  6.630  23.4   5.1167    4  245
298  0.06466   70.0   2.24     0  0.4000  6.345  20.1   7.8278    5  358
299  0.05561   70.0   2.24     0  0.4000  7.041  10.0   7.8278    5  358
300  0.04417   70.0   2.24     0  0.4000  6.871  47.4   7.8278    5  358
343  0.02543   55.0   3.78     0  0.4840  6.696  56.4   5.7321    5  370
344  0.03049   55.0   3.78     0  0.4840    NaN  28.1   6.4654    5  370
347  0.01870   85.0   4.15     0  0.4290  6.516  27.7   8.5353    4  351
348  0.01501   80.0   2.01     0  0.4350  6.635  29.7   8.3440    4  280
351  0.07950   60.0   1.69     0  0.4110  6.579  35.9  10.7103    4  411
352  0.07244   60.0   1.69     0  0.4110  5.884  18.5  10.7103    4  411
353  0.01709   90.0   2.02     0  0.4100  6.728  36.1  12.1265    5  187
354  0.04301   80.0   1.91     0  0.4130  5.663  21.9  10.5857    4  334
355  0.10659   80.0   1.91     0  0.4130  5.936  19.5  10.5857    4  334

     PTRATIO       B  LSTAT  MEDV
39      18.3  395.63   4.32  30.8
40      18.3  395.62   1.98  34.9
54      21.1  396.90  14.80  18.9
55      17.9  395.93   4.81  35.4
56      17.3  396.90   5.77  24.7
57      15.1  392.90   3.95  31.6
65      16.1  396.90   4.67  23.5
66      16.1  396.90  10.24  19.4
193     15.6  393.37   5.03  31.1
194     15.6  376.70   4.38  29.1
195     14.4  394.23   2.97  50.0
196     12.6  396.90   4.08  33.3
197     12.6  354.31   8.61  30.3
198     12.6  392.20   6.62  34.6
199     17.0  396.90   4.56  34.9
200     17.0  384.30   4.45  32.9
201     14.7  393.77   7.43  24.1
202     14.7  395.38   3.11  42.3
203     14.7  392.78   3.81  48.5
204     14.7  390.55   2.88  50.0
254     16.4  392.89   6.57  21.9
255     16.4  395.18   9.25  20.9
256     15.9  386.34   3.11  44.0
283     13.6  395.52   3.16  50.0
284     15.3  394.72   7.85  32.2
285     15.3  394.72   8.23  22.0
286     18.2  341.60  12.93  20.1
287     16.6  396.90   7.14  23.2
288     16.6  396.90   7.60  22.3
289     16.6  371.72   9.51  24.8
290     19.2  396.90   3.33  28.5
291     19.2  396.90   3.56  37.3
292     19.2  396.90   4.70  27.9
298     14.8  368.24   4.97  22.5
299     14.8  371.58   4.74  29.0
300     14.8  390.86   6.07  24.8
343     17.6  396.90   7.18  23.9
344     17.6  387.97   4.61  31.2
347     17.9  392.43   6.36  23.1
348     17.0  390.94   5.99  24.5
351     18.3  370.78   5.49  24.1
352     18.3  392.33   7.79  18.6
353     17.0  384.46   4.50  30.1
354     22.0  382.80   8.05  18.2
355     22.0  376.04   5.57  20.6

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [6]:
zn_max2 = df[df['ZN'] > zn_max]['ZN'] # 마지막 ['ZN'] 왜 있을지 생각해보기, 없다면 모든 열이 다표현됨(앞에서도 있었던것 확인/오름차순에서)
print(zn_max2)

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [30]:
print(df[df['ZN'] < zn_min]) # -1.5* 보다 작은 값은 없으므로 zn_max2의 값의 합

Empty DataFrame
Columns: [CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD, TAX, PTRATIO, B, LSTAT, MEDV]
Index: []

In [31]:
print(sum(zn_max2))

3462.5