In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\bigdata\data\boston.csv")

In [2]:
#그룹별 집계 요약하기
# 문제1) boston 데이터 세트의 tax 칼럼이 tax칼럼의 중위값보다 큰 데이터를 대상으로,
#       CHAS 칼럼과 RAD칼럼 순으로 그룹을 지은 후 각 그룹의 데이터 개수를 구하시오.
#       단, CHAS, RAD 칼럼별 데이터 개수는 COUNT 칼럼으로 출력합니다.

In [3]:
tax_meadian = (df['TAX']
               .median()
)
print(tax_meadian)

330.0

In [4]:
print(df[df['TAX'] > 330 ][['CHAS' , 'RAD']]) #['CHAS'] OK // ['CHAS' , 'RAD'] NO! // [['CHAS' , 'RAD']] OK!
new_df = df[df['TAX'] > tax_meadian][['CHAS' , 'RAD']]

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
..    ...  ...
496     0    6
497     0    6
498     0    6
499     0    6
500     0    6

[250 rows x 2 columns]

In [5]:
print( new_df['RAD']
      .unique()          #unique 함수는 특정 columns 에 대해서만 출력 가능
      , new_df['RAD']
      .dtype
      , new_df['CHAS']
      .unique() )

[ 3  4  5  6  2  1 24] int64 [0 1]

In [6]:
new_df3 = new_df.groupby(['CHAS','RAD']) # groupby() 함수에 의해 그룹핑된 데이터는 두 칼럼을 사용하는 데이터프레임으로 변환

In [7]:
new_df3.head()

     CHAS  RAD
54      0    3
65      0    4
66      0    4
67      0    4
68      0    4
69      0    4
74      0    5
75      0    5
76      0    5
77      0    5
78      0    5
111     0    6
112     0    6
113     0    6
114     0    6
115     0    6
142     1    5
152     1    5
154     1    5
155     1    5
160     1    5
199     0    3
200     0    3
201     0    2
202     0    2
342     0    1
345     0    3
346     0    3
349     0    1
350     0    1
356     1   24
357     1   24
358     1   24
359     0   24
360     0   24
361     0   24
362     0   24
363     1   24
364     1   24
365     0   24

In [8]:
####***(복습꼭 할 것 + 책설명 pg 348~) 첫 조건을 만족하는 그룹을 대상으로 그룹을 지은후, groupby() + count() 이용
new_df2 = (new_df
           .groupby(['CHAS' , 'RAD'])  # 이 코드 줄 괄호 유의할것 351page groupby() 함수 문법!                                 
           ['RAD']                     # (CHAS 와 RAD를 그룹짓는데)[RAD]의 .count갯수대로 그룹핑해줘
           .count())                   # [['str1', 'str2']] << 데이터셋에서 특정할때! 
                                       # cf) count 는 추가작업! 그룹핑한 데이터에 대해 각 로우의 갯수 counting
print(new_df2)

CHAS  RAD
0     1        3
      2        2
      3        5
      4       33
      5       51
      6       17
      24     124
1     5        7
      24       8
Name: RAD, dtype: int64

In [14]:
new_df2.info()
# 위의 결과에서 마지막 칼럼의 이름을 count 로 출력해야함
print(type(new_df2))

new_df4 = pd.DataFrame(new_df2) #series 데이터를 dataframe 으로 읽겠다/

print(type(new_df4))

new_df4.head()

<class 'pandas.core.series.Series'>
MultiIndex: 9 entries, (0, 1) to (1, 24)
Series name: RAD
Non-Null Count  Dtype
--------------  -----
9 non-null      int64
dtypes: int64(1)
memory usage: 267.0 bytes
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

          RAD
CHAS RAD
0    1      3
     2      2
     3      5
     4     33
     5     51

In [15]:
new_df4 = pd.DataFrame(new_df2) #series 데이터를 dataframe 으로 읽겠다/
new_df4.columns = ['COUNT'] # 칼럼추가!
new_df4.head()

          COUNT
CHAS RAD
0    1        3
     2        2
     3        5
     4       33
     5       51