In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\bigdata\data\boston.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NOX      506 non-null    float64
 5   RM       491 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [2]:
#문제2) Boston 데이터 세트의 TAX 칼럼을 오름차순으로 정렬한 결과와 내림차순으로 정렬한 결과를 각각 구한다.
#       그리고 순번에 맞는오름차순 값과 내림차순 값의 차이를 구하여 분산 값을 출력하시오.
#       concat() , reset_index()

In [3]:
# sort_values -> by 라는 paramater 은 dataframe 일때 사용한다. pd.DataFrame 으로 series 를 변경후 by 입력가능
#             -> inplace 라는 paramter 은 없다

Tax_dtu = (df['TAX']    #tax 칼럼 오름차순 data 
           .sort_values(ascending = True))
Tax_utd = (df['TAX']    #tax 칼럼 내림차순 data
           .sort_values(ascending = False))


#print(Tax_dtu)
#print(Tax_utd)

In [4]:
Tax_dtu

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [5]:
# 각 변수의 인덱스 재설정하기 'reset_index' function!!
#drop_tax_dtu = (Tax_dtu
#                .reset_index(drop = True)) 
#or
Tax_dtu.reset_index(drop = True , inplace = True) # reset_index function 의 parameter  drop !
                                                  # reset_index 의 의미 ==> drop = True 기존 인덱스 정보를 삭제한다.
                                                  # 인덱스를 재설정 한다 = index 를 0부터 시작하도록 만든다!
print(Tax_dtu)

Tax_utd = (Tax_utd
           .reset_index(drop = True))
print(Tax_utd)

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64
0      711
1      711
2      711
3      711
4      711
      ...
501    188
502    188
503    188
504    188
505    187
Name: TAX, Length: 506, dtype: int64

In [7]:
# 새로 인덱싱한 각각의 칼럼을 이어붙이는 함수 'concat()'
# concat() 함수는 여러 데이터 프레임을 물리적으로 합치는 기능! concatenate '결합시키다'
# concat() ==> 행 단위가 아닌 칼럼 단위로 붙히기 때문에 axis = 1 이라는 parameter 추가 필요! 
data_concat = (pd
               .concat([Tax_dtu , Tax_utd] , axis = 1)) # pandas 라이브러리의 함수 cf) DataFrame
                                                        # concat 합친다 [데이터프레임1, 데이터프레임2] , axis = 합칠기준 0 = 행기준
#                                                                                                                    1  = 열기준
#                                                       # 인덱스가 같지 않아도 합치고 데이터를 버리지 않음!
print(data_concat)

     TAX  TAX
0    187  711
1    188  711
2    188  711
3    188  711
4    188  711
..   ...  ...
501  711  188
502  711  188
503  711  188
504  711  188
505  711  187

[506 rows x 2 columns]

In [9]:
data_concat.head()

   TAX  TAX
0  187  711
1  188  711
2  188  711
3  188  711
4  188  711

In [29]:
#순번에 맞는 오름차순값과 내림차순 값의 차이를 구해서 분산구하기
#print(data_concat
#      .iloc[:,0]) 
#print(data_concat
#      .iloc[:,1])

data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1]) ##***새로운 칼럼추가...?ㄷㄷ pd.dataframe count() 함수확인
                                                                         ## 데이터 프레임의 정의가 아닌 데이터 프레임의 특정 칼럼추가
                                                                         ## dataframe.colums 라는 함수는 존재하지 않던 칼럼추가? 2-1참고
                                                                         ## concat = dtu + utd 인데 처음dtu/utd
                                                                         #  정의할때 칼럼을 버린것은 아닌가 -- Series
print(data_concat)
print(data_concat['diff']
      .var())       #데이터셋의 칼럼 분산구하기

     TAX  TAX  diff
0    187  711   524
1    188  711   523
2    188  711   523
3    188  711   523
4    188  711   523
..   ...  ...   ...
501  711  188   523
502  711  188   523
503  711  188   523
504  711  188   523
505  711  187   524

[506 rows x 3 columns]
28490.598645951555