In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\brian\Desktop\JUNSOO\bigdata\data\boston.csv")

In [2]:
# boston의 AGE 칼럼을 소수점 첫번째 자리에서 반올림하고 (int 형태로 변환)
# 가장 많은 비중을 차지하는 AGE 값과 그 개수를 출력하시오. (AGE 칼럼을 기준으로 그룹화하고, 그룹별 개수 계산)
# 즉 AGE 칼럼의 최빈값과 그 개수를 출력하시오. (최빈값 describe()?)

In [3]:
# 첫번째 방법!
print(df['AGE'])

print(round(df['AGE'],0)) #round 함수의 parameter 은 (df , 소숫점 n+1 번째 자리 반올림)
df_round = round(df['AGE'] , 0)
df_round.info()

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: AGE, Length: 506, dtype: float64
0      65.0
1      79.0
2      61.0
3      46.0
4      54.0
       ...
501    69.0
502    77.0
503    91.0
504    89.0
505    81.0
Name: AGE, Length: 506, dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex: 506 entries, 0 to 505
Series name: AGE
Non-Null Count  Dtype
--------------  -----
506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [4]:
#변수 데이터를 데이터 프레임으로 저장하겠다 (바로 grouby 를 사용할수 없음! ==> DataFrame 이전에는 Series 타입임 칼럼이 하나뿐!)
df_round = pd.DataFrame(df_round)
print(df_round
      .groupby(['AGE'])['AGE']
      .count())
df_round_group = (
                df_round
                  .groupby(['AGE'])['AGE']
                  .count()
                  )
print(type(df_round_group)) #역시 series 데이터이기 때문에 pd.Dataframe() 으로 가공하기 쉽게 만들자!
df_round_group = pd.DataFrame(df_round_group)
print(type(df_round_group)) #DataFrame 으로 바뀐 모습!*

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [5]:
df_round_group.head()

     AGE
AGE
3.0    1
6.0    3
7.0    3
8.0    3
9.0    1

In [6]:
df_round_group.columns = ['COUNT'] ##2-2에서 칼럼을 새로 계산해서 추가한것과 이미 존재하는 칼럼에 이름을 부여하는 것은 구분하자!
                                    # 인덱싱 추가하면 칼럼 갯수가 들어가서
                                    # 한번 더 실행하면 오류나옴.. (칼럼갯수가 달라졌기 때문!)

In [7]:
df_round_group.head()

     COUNT
AGE
3.0      1
6.0      3
7.0      3
8.0      3
9.0      1

In [8]:
df_round_group = (df_round_group
                  .reset_index(drop = False)) #여러번 실행하지말자.. 계속 인덱싱해버림...
#or

#df_round_group.reset_index(drop = False , inplace = True)

In [11]:
df_round_group.head()
df_round_group.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91 entries, 90 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     91 non-null     float64
 1   COUNT   91 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 2.1 KB

In [10]:
print(df_round_group
      .head(3))
df_round_group = (df_round_group
                  .sort_values(by = 'COUNT' , ascending = False))
print(df_round_group.head(3)) #최빈값이 0행0열(최빈값) , 0행1열(갯수)
print(df_round_group
      .iloc[0,0]
      ,df_round_group
      .iloc[0,1]) #답 도출!

   AGE  COUNT
0  3.0      1
1  6.0      3
2  7.0      3
      AGE  COUNT
90  100.0     43
88   98.0     19
87   97.0     17
100.0 43