In [1]:
import pandas as pd
x_train = pd.read_csv(r'C:\Users\brian\OneDrive\Desktop\JUNSOO\bigdata\data\titanic_x_train.csv' , encoding='cp949')
y_train = pd.read_csv(r'C:\Users\brian\OneDrive\Desktop\JUNSOO\bigdata\data\titanic_y_train.csv' , encoding='cp949')
x_test = pd.read_csv(r'C:\Users\brian\OneDrive\Desktop\JUNSOO\bigdata\data\titanic_x_test.csv' , encoding='cp949')

In [2]:
y_train

     癤풮assengerId  Survived
0               1         0
1               2         1
2               3         1
3               4         1
4               5         0
..            ...       ...
886           887         0
887           888         1
888           889         0
889           890         1
890           891         0

[891 rows x 2 columns]

In [3]:
x_train.info()
#print(x_train.describe().T)
print(y_train.info())

# 각 series 의 unique 함수를 통해 
# 성별, 티켓등급 ==> 범주형
# 승객이름, 티켓번호, 객실번호 ==> string data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   癤풮assengerId  891 non-null    int64
 1   Survived      891 non-null    int64
dtypes: int64(2)
memory usage: 14.1 KB
None

In [4]:
## 독립변수와 종속변수 관계 확인하기 (합쳐서 확인하기!)

# data프레임 만들기 axis = 1 이므로 세로방향 통합
data = pd.concat([x_train , y_train] , axis = 1)       #axis = 1 세로방향 통합
data

,PassengerId,티켓등급,승객이름,성별,나이,형제자매배우자수,부모자식수,티켓번호,운임요금,객실번호,선착장,癤풮assengerId,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887,0
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,1
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889,0
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,1
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891,0

In [5]:
# 성별 칼럼에 따른 생존여부의 평균을 계산 (1이 생존이므로 1에 가까울 수록 생존해있을 확률이 높다)

print(data.groupby(['성별'])['Survived'].mean())        #groupby 문법

# 티켓 등급에 따른 생존여부의 평균을 계산
print(data.groupby(['티켓등급'])['Survived'].mean())

# 선착장에 따른 생존여부 평균을 계산
print(data.groupby(['선착장'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64
티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64
선착장
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [6]:
## 데이터 전처리

# 예측에 불필요한 데이터 // 최종 제출을 위해 저장
x_test_passenger_id = x_test['PassengerId']
x_train.drop(columns = 'PassengerId' , inplace = True)
y_train.drop(columns = '癤풮assengerId' , inplace = True)
x_test.drop(columns = 'PassengerId' , inplace = True)

In [7]:
# 독립변수에서 티켓번호가 중복된 값이 50%를 넘어감 ==> 삭제
x_test.drop(columns = '티켓번호' , inplace = True)
x_train.drop(columns = '티켓번호' , inplace = True)

#승객이름도 삭제
x_test.drop(columns = '승객이름' , inplace = True)
x_train.drop(columns = '승객이름' , inplace = True)

In [8]:
## 결측치 처리하기
x_train.isnull().sum()

# 나이 177 / 객실번호 687 / 선착장 2

# 나이와 생존칼럼간의 상관관계파악 concat 한 data 셋에서 확인
print(data[['나이' , 'Survived']].corr())       #상관관계까 -0.077~ 이므로 나이칼럼도 삭제

x_train.drop(columns = '나이' , inplace = True)
x_test.drop(columns = '나이' , inplace = True)

                나이  Survived
나이        1.000000 -0.077221
Survived -0.077221  1.000000

In [9]:
# 객실번호 역시 데이터간 값이 상이하고 결측치 처리가 어려움 ==> 삭제
x_train.drop(columns = '객실번호' , inplace = True)
x_test.drop(columns = '객실번호' , inplace = True)

In [11]:
# 선착장 칼럼별로 갯수세기
print(x_train.groupby(['선착장'])['선착장'].count())

# 결측치를 S로 대치하기
x_train['선착장'].fillna('S' , inplace = True)

선착장
C    168
Q     77
S    644
Name: 선착장, dtype: int64

C:\Users\brian\AppData\Local\Temp\ipykernel_13660\3939158953.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_train['선착장'].fillna('S' , inplace = True)

In [12]:
## 범주형 변수를 인코딩하기 ==>> 이부분 개념 다시 잡기 *****

# 독립변수 데이터셋의 범주형 변수인 '성별'를 연속형 변수로 변환하기
# male = 0 , female = 1
x_train['성별'].replace('male', 0 , inplace = True)
x_train['성별'].replace('female' , 1 , inplace = True)

x_test['성별'] = x_test['성별'].replace('male' , 0)
x_test['성별'] = x_test['성별'].replace('female' , 1)

C:\Users\brian\AppData\Local\Temp\ipykernel_13660\2436389143.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_train['성별'].replace('male', 0 , inplace = True)
C:\Users\brian\AppData\Local\Temp\ipykernel_13660\2436389143.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x_train['성별'].replace('female' , 1 , inplace = True)
C:\Users\brian\AppData\Local\Temp\ipykernel_13660\2436389143.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_train['성별'].replace('female' , 1 , inplace = True)
C:\Users\brian\AppData\Local\Temp\ipykernel_13660\2436389143.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  x_test['성별'] = x_test['성별'].replace('female' , 1)

In [14]:
# 13번 셀과 비교하기!
x_train.head()

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장
0     3   0         1      0   7.2500   S
1     1   1         1      0  71.2833   C
2     3   1         0      0   7.9250   S
3     1   1         1      0  53.1000   S
4     3   0         0      0   8.0500   S

In [18]:
선착장_dummy = (pd
             .get_dummies(x_train['선착장'])            # 원핫 인코딩
)
x_train_diff = pd.concat([선착장_dummy , x_train] , axis = 1)

x_train_diff

         C      Q      S  티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장
0    False  False   True     3   0         1      0   7.2500   S
1     True  False  False     1   1         1      0  71.2833   C
2    False  False   True     3   1         0      0   7.9250   S
3    False  False   True     1   1         1      0  53.1000   S
4    False  False   True     3   0         0      0   8.0500   S
..     ...    ...    ...   ...  ..       ...    ...      ...  ..
886  False  False   True     2   0         0      0  13.0000   S
887  False  False   True     1   1         0      0  30.0000   S
888  False  False   True     3   1         1      2  23.4500   S
889   True  False  False     1   0         0      0  30.0000   C
890  False   True  False     3   0         0      0   7.7500   Q

[891 rows x 9 columns]

In [19]:
# x_train 선착장 칼럼에대해 원핫 인코딩 수행한후 선착장_dummy에 저장하기

선착장_dummy = (pd
             .get_dummies(x_train['선착장'])
             .rename(columns ={'Q':'선착장Q', 'S':'선착장S' , 
                               'C': '선착장C'})
             )
x_train = pd.concat([x_train , 선착장_dummy] , axis = 1)

In [20]:
# 11번 셀과 원핫인코딩 수행후 결과 비교하기
x_train

     티켓등급  성별  형제자매배우자수  부모자식수     운임요금 선착장   선착장C   선착장Q   선착장S
0       3   0         1      0   7.2500   S  False  False   True
1       1   1         1      0  71.2833   C   True  False  False
2       3   1         0      0   7.9250   S  False  False   True
3       1   1         1      0  53.1000   S  False  False   True
4       3   0         0      0   8.0500   S  False  False   True
..    ...  ..       ...    ...      ...  ..    ...    ...    ...
886     2   0         0      0  13.0000   S  False  False   True
887     1   1         0      0  30.0000   S  False  False   True
888     3   1         1      2  23.4500   S  False  False   True
889     1   0         0      0  30.0000   C   True  False  False
890     3   0         0      0   7.7500   Q  False   True  False

[891 rows x 9 columns]

In [21]:
# '선착장' 칼럼 삭제하기
x_train.drop(columns = '선착장' , inplace = True)

In [22]:
print(x_train.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금   선착장C   선착장Q   선착장S
0     3   0         1      0   7.2500  False  False   True
1     1   1         1      0  71.2833   True  False  False
2     3   1         0      0   7.9250  False  False   True
3     1   1         1      0  53.1000  False  False   True
4     3   0         0      0   8.0500  False  False   True

In [23]:
# x_test 선착장 칼럼에대해 원핫 인코딩 수행한후 선착장_dummy에 저장하기
# cf) x_train 데이터와 x_test 데이터 모두 같은 수행을 해야 학습가능 *

선착장_dummy = (pd
             .get_dummies(x_test['선착장'])     # get_dummies 함수 문법 및 parameter ***
             .rename(columns = {'Q':'선착장Q' , 'S':'선착장S' , 'C':'선착장C'})     # rename 함수 문법 및 parameter ***
             )
x_test = pd.concat([x_test , 선착장_dummy] , axis = 1)

#선착장 칼럼 삭제하기
x_test.drop(columns = '선착장' , inplace = True)

In [24]:
print(x_test.head())

   티켓등급  성별  형제자매배우자수  부모자식수     운임요금   선착장C   선착장Q   선착장S
0     3   0         0      0   7.8292  False   True  False
1     3   1         1      0   7.0000  False  False   True
2     2   0         0      0   9.6875  False   True  False
3     3   0         0      0   8.6625  False  False   True
4     3   1         1      1  12.2875  False  False   True

In [25]:
## 파생변수 만들기
# 형제자매배우자수 와 부모자식수 칼럼이 가족이라는 유사한 의미를 지니므로 파생변수 생성
x_train['가족수'] = x_train['형제자매배우자수'] + x_train['부모자식수']

# 유사한 의미를 가졌던 칼럼 삭제
x_train.drop(columns = ['형제자매배우자수' , '부모자식수'] , inplace = True)

In [26]:
# test 데이터에 대해서도 똑같이 수행
x_test['가족수'] = x_test['형제자매배우자수'] + x_test['부모자식수']

# 유사한 의미를 가지는 칼럼삭제
x_test.drop(columns = ['형제자매배우자수' , '부모자식수'] , inplace = True)

# note) train 데이터와 test 데이터를 같은 수행을 해야지 학습이가능하다

In [27]:
### 학습하고 평가하기 pg 441 read ***

# 학습데이터와 테스트 데이터에서
# 학습데이터 (x_train , y_train) 을 분리해서 
# 학습용과 검증용 데이터로 평가를 위한 X_TRAIN,Y_TRAIN AND X_TEST, Y_TEST 데이터를 만듦
# 즉 모델을 학습시키고(X_TRAIN, Y_TRAIN) -> 평가지표 계산하고(X_TEST , Y_TEST) -> x_test로 y_test 구하기! (예측값,확률)

In [31]:
import sklearn.model_selection
print(dir(sklearn.model_selection))

['BaseCrossValidator', 'BaseShuffleSplit', 'FixedThresholdClassifier', 'GridSearchCV', 'GroupKFold', 'GroupShuffleSplit', 'KFold', 'LearningCurveDisplay', 'LeaveOneGroupOut', 'LeaveOneOut', 'LeavePGroupsOut', 'LeavePOut', 'ParameterGrid', 'ParameterSampler', 'PredefinedSplit', 'RandomizedSearchCV', 'RepeatedKFold', 'RepeatedStratifiedKFold', 'ShuffleSplit', 'StratifiedGroupKFold', 'StratifiedKFold', 'StratifiedShuffleSplit', 'TimeSeriesSplit', 'TunedThresholdClassifierCV', 'ValidationCurveDisplay', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_classification_threshold', '_plot', '_search', '_split', '_validation', 'check_cv', 'cross_val_predict', 'cross_val_score', 'cross_validate', 'learning_curve', 'permutation_test_score', 'train_test_split', 'typing', 'validation_curve']

In [32]:
## 데이터 분리하기 
# (학습데이터에서 평가용 데이터를 분리해내기 x_train => X_TRAIN, X_TEST
#                                         y_train => Y_TRAIN, Y_TEST)


# 데이터 분석을 위한 train_test_split 함수 가져오기

from sklearn.model_selection import train_test_split

# 학습용과 검증용을 8:2로 분류하여 각 4개의 변수에 저장하기

X_TRAIN, X_TEST , Y_TRAIN, Y_TEST = train_test_split(x_train, y_train, test_size = 0.2 , random_state = 10)     #traints 문법..?

print(X_TRAIN.shape)
print(X_TEST.shape)
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(712, 7)
(179, 7)
(712, 1)
(179, 1)

In [33]:
## 데이터 학습 및 하이퍼 파라미터 튜닝하기
# 종속변수 값을 분류하는 모델
from xgboost import XGBClassifier

model = XGBClassifier(eval_metric = 'error', random_state = 10)     #eval_metrice 파라미터..
model.fit(X_TRAIN, Y_TRAIN)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric='error', feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=10, ...)

In [43]:
## 결과 예측하기
# 종속변수인 Survived 값을 예측하기 위해 모델에 .predict() 함수를 사용하여 값을 예측
# 즉 문제에서 주어진 테스트 데이터(x_test)로 predict를 수행하여 y_test를 예측 하는 것
# predict로 추출된 결과는 데이터프레임 형태가 아니므로 pd.DataFrame() 이용!

y_test_predicted = (pd.DataFrame(model.predict(x_test))
                                      .rename(columns = {0:'Survived'})
                                      )
print(pd.DataFrame(y_test_predicted).head(10))

   Survived
0         0
1         0
2         0
3         0
4         1
5         0
6         0
7         1
8         1
9         0

In [44]:
# 승객이 사망 혹은 생존할 확률 ==> proba
print(pd.DataFrame(model.predict_proba(x_test))[0])     #사망확률
print(pd.DataFrame(model.predict_proba(x_test))[1])     #생존확률

# 학습이 완료된 모델을 통해 Y_TEST 값을 예측하기 : 평가지표 계산용
Y_TEST_PREDICTED = pd.DataFrame(model.predict(X_TEST))

0      0.930345
1      0.537415
2      0.929479
3      0.927706
4      0.117142
         ...
413    0.876981
414    0.006771
415    0.973564
416    0.876981
417    0.552023
Name: 0, Length: 418, dtype: float32
0      0.069655
1      0.462585
2      0.070521
3      0.072294
4      0.882858
         ...
413    0.123019
414    0.993229
415    0.026436
416    0.123019
417    0.447977
Name: 1, Length: 418, dtype: float32

In [25]:
## 모델 평가하기
# 학습이 완료된 이후에는 채점기준인 roc_auc_score 함수를 이용하여 모델 평가를 수행한다.

# sklearn 패키지의 metrics 모듈에 있는 roc_auc_score 함수를 가져온다.
from sklearn.metrics import roc_auc_score

# 1차 학습 모델의 ROC 평가지표 값을 확인하기
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))      #기본값 모델링 결과

# 2차 학습 모델의 ROC 평가지표 값을 확인하기
print(roc_auc_score(Y_TEST, Y_TEST_PREDICTED))      #하이퍼 파라미터 적용 결과..?

0.7769506479183899
0.7769506479183899

In [26]:
## 결과 제출하기
# x_test_passenger_id 변수와 y_test_predicted 변수를 세로방향으로 붙히기
print(pd.concat([x_test_passenger_id , y_test_predicted] , axis = 1))

# to_csv 함수를 사용하여 저장
final = pd.concat([x_test_passenger_id , y_test_predicted] , axis = 1)
final.to_csv(r'C:\Users\brian\OneDrive\Desktop\JUNSOO\bigdata\data\1234m.csv' , index = False)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]